.posts {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    .post {
        margin: 10px;
        border: 1px solid gray;
        width: 200px;
        .name {
            font-size: small;
        }
        .title {
            border: none;
            text-align: start;
            cursor: pointer;
        }
        .user-name {
            padding: 5px;
            font-size: 10px;
        }
    }
}

.is-hidden {
    display: none;
}

.button-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999
}

.modal {
    padding: 20px 30px;
    width: 90%;
    max-height: calc(100% - 150px);
    overflow-y: scroll;
    position: relative;
    min-height: 300px;
    margin: 5% auto 0;
    background: #fff;
    z-index: 9999;
}

.is-hidden {
    display: none;
}

.button-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999
}

.modal {
    padding: 20px 30px;
    width: 90%;
    max-height: calc(100% - 150px);
    overflow-y: scroll;
    position: relative;
    min-height: 300px;
    margin: 5% auto 0;
    background: #fff;
    z-index: 9999;
}